body {
background-color: rgba(151, 163, 229, 0.767);
margin: 50px;
padding: 10px;
border: 10px dotted rgba(236, 158, 236, 0.603);
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

header {
    background-color: rgba(73, 187, 187, 0.434);
}

nav li {
    display: inline-block;
    padding: 10px;
}

#hero {
    width: 700px;
    justify-content: center;
    text-align: center;
}

.lower {
    display: inline-block;
    text-align: center;
}

.mid {
    display: inline-block;
    text-align: center;
}

footer {
display: inline-block;
text-align: right;
}

.container1 {
    display:inline-block;
}

.container2 {
    display: inline-block;
}

main {
    display: grid;
    place-items: center;
}
