body {
background-color: rgba(151, 163, 229, 0.767);
margin: 100px;
padding: 10px;
border: 10px dotted rgba(236, 158, 236, 0.603);
}

p{font-family: 'Ariel';
background-color: white}

nav li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
}

#hero {
    width: 700px;
    margin: 2px;
    text-align: center;
}

.lower {
    display: inline-block;
    text-align: center;
}

.mid {
    display: inline-block;
    text-align: center;
}

footer {
display: inline-block;
text-align: right;
}

.container1 {
    display:inline-block;
}

.container2 {
    display: inline-block;
}
