body {
background-color: rgba(151, 163, 229, 0.767);
margin: 50px;
padding: 10px;
border: 10px dotted rgba(236, 158, 236, 0.603);
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

header {
    background-color: rgba(73, 187, 187, 0.434);
}

nav li {
    display: inline-block;
    padding: 10px;
}

#hero {
    width: 700px;
    justify-content: center;
    text-align: center;
}

.lower {
    display: inline-block;
    text-align: center;
}

.mid {
    display: inline-block;
    text-align: center;
}

footer {
display: inline-block;
text-align: right;
}

.containermain{
    width: 700px;
    height: 350px;
    overflow: hidden;
}

.imagemain{
    width: 100%;
    height: 100%;
    background-image: src="Cars/20200530_145227.jpg";
    background-position: center;
    background-size: cover;

    transition: 0.3s ease-in-out;
}

.imagemain:hover{
    transform: rotate(-15deg) scale(2.25);
}

.container1 {
    display:inline-block;
    overflow: hidden;
}

.container2 {
    display: inline-block;
    overflow: hidden;
}

main {
    display: grid;
    place-items: center;
}

#bottom {
    position: bottom;
    bottom: 20px;
    src: "Cars/steering-wheel.png" ;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
}


 
/* unvisited link */
a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }

    div {
        background-color: yellow;
        padding: 20px;
        display: none;
      }
        
      span:hover + div {
        display: block;
      }

      .wheels {
        width: 75px;
      }